* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}

body {
  background-color: #f9f9f9;
}

.header {
  background-color: #e1271e;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    color: white;
  }
}

.logo img {
  padding: 0;
  margin: 0;
  height: 80px;
}

.nav {
  display: flex;
  gap: 5px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}
li {
  list-style-type: none;
  padding: 0;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.material-icons {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 5px;
}

/* Esconde o checkbox visualmente */
#menu-toggle {
  display: none;
}

/* Estilo do ícone */
.menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 0px;
}

/* Esconde o menu por padrão */
.menu-items {
  display: none;
  list-style: none;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 50px;
  right: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.menu-items li {
  color: #e1271e;
  margin-top: 5px;
  margin: 5px;
}

.menu-items a {
  color: #e1271e;
}

/* Mostra o menu quando o checkbox está marcado */
#menu-toggle:checked ~ .menu-items {
  display: block;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px 5px;
}

.food-item {
  flex: 1;
  min-width: 150px;
  max-width: 150px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.food-item:hover {
  transform: translateY(-5px);
}

.food-item a {
  display: block;
  text-decoration: none;
  color: #333;
}

.food-image {
  height: 150px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-weight: bold;
}

.food-name {
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.menu-footer {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  bottom: 0;
  width: 100%;
  background: #e1271e;
  color: white;
  text-align: center;
  h2 {
    color: white;
  }
}
.title-footer {
  font-size: 10px;
  padding: 2px;
}

.icone-footer span {
  padding: 0px 43px;
}

.container-pizzas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-pizzas {
  font-size: 12px;
  color: #5a5a5a;
  margin-left: 5px;
  margin-right: 10px;
  h3 {
    color: #000;
  }
}

.menu-pizzas img {
  padding: 5px;
  border-radius: 10px;
}

.menu-pizzas td {
  padding: 0px 5px;
}

.menu-pizzas input {
  text-align: center;
  justify-content: center;
}

.pizzas-busca {
  display: flex;
  padding: 0px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  align-items: flex-start;

  input {
    font-size: small;
    color: black; /* texto digitado */
  }

  input::placeholder {
    background-color: #e7e7e7;
    color: gray; /* texto do placeholder */
    font-style: italic;
  }
}

.btn-avancar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #1095f3;
  border: none;
  margin-top: 20px;
}
